---
---
$min-padding-sides: 1rem;
$max-padding-sides: 3rem;
$header-footer-margin: 0 2em;
$text-color: #2A363B;
$faded-out-color: lightgray;

@import "work";
@import "about_me";
@import "landing";
@import "header";
@import "footer";
@import "syntax";
@import "blog";
@import "font";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

body {
  min-height: 100%;
}

main {
  margin-left: $max-header-width;
  padding: $min-header-height $max-padding-sides $footer-height 0;
  @media screen and (max-width: 48em) {
    margin-left: 0;
    padding: $max-header-height $min-padding-sides $footer-height $min-padding-sides;
  }
  color: $text-color
}

a:link, a:visited {
  color: #E84A5F;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
