* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif;
}

main {
  height: 100%;
}

.banner {
  width: 100%;

  display: flex;
  align-items: center;
}

.banner img {
  float: right;
  max-width: 75%;
  min-width: 25%;
}

.banner .text {
  margin-left: 3%;
  margin-right: 3%;
  text-align: left;
  font-size: 2em;
}