---
---

$content-padding: 0 4rem;
$header-footer-margin: 0 2em;
$text-color: #2A363B;
$duration-color: lightgray;

@import "work";
@import "about_me";
@import "landing";
@import "header";
@import "footer";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: 'Raleway', sans-serif;
}

body {
  padding-top: $header-height;
  padding-bottom: $footer-height;
}

main {
  padding: $content-padding;
  color: $text-color
}

a {
  text-decoration: none;
}
