---
---
$min-padding-sides: 1rem;
$max-padding-sides: 3rem;
$header-footer-margin: 0 2em;
$text-color: #2A363B;
$link-color: #E74C3C;
$faded-out-color: lightgray;

$breakpoint-small: 48em;
$breakpoint-medium: 64em;
$breakpoint-large: 80em;


@mixin side-panel($height-mobile) {
  background-color: white;
  position: fixed;
  z-index: 100;
  margin: 0;
  padding-left: $min-padding-sides;
  padding-right: $min-padding-sides;

  @media screen and (min-width: $breakpoint-small) { // side
    width: $max-header-width;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media screen and (max-width: $breakpoint-small) { // top/bottom
    width: 100%;
    height: $height-mobile;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@import "work";
@import "about_me";
@import "landing";
@import "header";
@import "footer";
@import "syntax";
@import "blog";
@import "font";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

body {
  min-height: 100%;
}

main {
  margin-left: $max-header-width; // push content to the side to make room for header
  padding: $min-header-height $max-padding-sides $footer-height 0;
  @media screen and (max-width: $breakpoint-small) {
    margin-left: 0;
    padding: $max-header-height $min-padding-sides $footer-height $min-padding-sides;
  }
  color: $text-color
}

a:link, a:visited {
  color: $link-color;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 400;
}
