<footer>
  <div class="social-links">
    <ul>
      <li><a href={{ site.data.links.github }} title="Github"><i class="fa fa-github-square"></i></a></li>
      <li><a href={{ site.data.links.linkedin }} title="Linkedin"><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href={{ site.data.links.facebook }} title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href={{ site.data.links.spotify }} title="Spotify"><i class="fa fa-spotify"></i></a></li>
      <li><a href={{ site.data.links.duolingo }} title="Duolingo"><i class="fa fa-language"></i></a></li>
    </ul>
  </div>
  <div class="email">
    contact me: <a href="mailto:amsquintino@gmail.com">amsquintino@gmail.com</a>
  </div>
</footer>
