<footer>
  <div class="social-links">
    <ul>
      <li><a href={{ site.data.links.github }}> <i class="fa fa-github-square"></i></a></li>
      <li><a href={{ site.data.links.linkedin }}><i class="fa fa-linkedin-square"></i></a></li>
      <li><a href={{ site.data.links.facebook }}><i class="fa fa-facebook-square"></i></a></li>
      <li><a href={{ site.data.links.spotify }}><i class="fa fa-spotify"></i></a></li>
      <li><a href={{ site.data.links.duolingo }}><i class="fa fa-language"></i></a></li>
    </ul>
  </div>
  <div class="email">
    contact me: <a href="mailto:amsquintino@gmail.com">amsquintino@gmail.com</a>
  </div>
</footer>
