<header>
  <div class="pure-g">
    <div class="pure-u-1-2 logo">
        <div>Alexandre</div>
        <div class="last-name">Quintino</div>
    </div>
  <div class="pure-u-1-2">
    <nav>
      <ul>
        <li><a href="/" {% if page.page == "home" %}class="active" {%endif%}> home</a></li>
        <li><a href="/about" {% if page.page == "about" %}class="active" {%endif%}>about me</a></li>
        <li><a href="/work" {% if page.page == "work" %}class="active" {%endif%}>work</a></li>
        <li><a href="/blog" {% if page.page == "blog" %}class="active" {%endif%}>blog</a></li>
      </ul>
    </nav>
  </div>
</header>
