.about-me {

  article {
    font-size: 1.7em;

    p {
      margin: 0.5em 0 0 0;
      text-align: justify;
    }

    .copy-right {
      padding-left: 1em;
      @media screen and (max-width: $breakpoint-small) {
        padding-left: 0;
      }
    }

    #skills {
      text-align: center;
      @media screen and (min-width: $breakpoint-small) {
        float: right;
      }
    }

    section {
      margin-bottom: 1em;
    }

    .header {
      margin-top: 0;
      font-size: 1.3em;
    }
  }

  .bubble .skill {
    font-weight: 400;
    text-anchor: middle;

    circle.framework {
      fill: #FF6B6B;
    }

    circle.language {
      fill: #4ECDC4;
    }

    circle.tool {
      fill: #C7F464;
    }
  }
}
