$footer-height: 3rem;

footer {
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  z-index: 100;
  padding-left: $min-padding-sides;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .social-links, .email {
    background-color: white;
  }

  .social-links {
    float:left;

    ul {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
      list-style-type: none;

      li {
        display: inline;
      }

      a {
        color: $text-color;
      }
    }
  }

  .email {
    float: right;
  }
}
