$footer-height: 3rem;

footer {
  @include side-panel($footer-height);
  bottom: 0;

  .social-links {
    @media screen and (max-width: 48em) { // top/bottom
      text-align: right;
    }

    ul {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
      list-style-type: none;

      li {
        display: inline;
      }

      a {
        color: $text-color;
      }
    }
  }

}
