$min-header-height: 1rem;
$max-header-height: 2.5rem;
$max-header-width: 15rem;

header {

  @include side-panel($max-header-height);
  top: 0;

  .logo {
    color: $text-color;
    margin-bottom: 5rem;
    div {
      font-family: 'CODE', sans-serif;
      font-size: 1.5rem;
      line-height: 2rem;
      letter-spacing: 5px;

      @media screen and (max-width: $breakpoint-small) {
        font-size: 0.75rem;
        line-height: 1rem;
        letter-spacing: 2.5px
      }
    }

    .last-name {
      letter-spacing: 7.5px;
      @media screen and (max-width: $breakpoint-small) {
        letter-spacing: 3.75px
      }
    }
  }

  nav {
    ul {
      padding: 0;
      margin: 0;
      line-height: 1;

      li {
        font-size: 1.5rem;
        @media screen and (max-width: $breakpoint-small) {
          display: inline;
          margin-left: 1em;
          padding-bottom: 0;
          font-size: 1rem;
        }
        padding-bottom: 2rem;

        .active {
          color: $text-color;
          font-weight: 400;
        }
      }
    }
  }

  .related-posts {
    @media screen and (max-width: $breakpoint-small) {
      display: none;
    }
    .header {
      color: $text-color;
      margin: 0.5rem 0;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}
