.work {

  font-size: 1.5em;

  .timeline h3, .title {
    margin-top: 0;
  }

  .timeline {
    font-size: 0.8em;
    text-align: right;
    padding-top: 0.5em;
  }

  .copy {
    padding-left: 2em;
  }

  .duration {
    font-size: 0.5em;
    color: $duration-color;
    padding-left: 0.5em;
  }

  .task {
    border-width: 0 0 0 0.1em;
    border-style: solid;

    p {
      margin: 0.5em 0;
      padding-left: 0.3em;
    }
  }

  .stack {
    p {
      text-align: right;
      margin: 0;
    }
  }
}
